## Using fbprophet to predict the Future of Kenya's Agriculture

In [1]:
import warnings; 
warnings.simplefilter('ignore')

In [4]:
from fbprophet import Prophet

ModuleNotFoundError: No module named 'fbprophet'

In [ ]:
import pandas as pd
df=pd.read_csv("S:\code\Kenya-s-Maize-Output-Time-Series\FAOSTAT_data_en_3-26-2023.csv")
df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,404,Kenya,5510,Production,01929.07,"Abaca, manila hemp, raw",1976,1976,tonnes,10.0,E,Estimated value
1,QCL,Crops and livestock products,404,Kenya,5510,Production,01929.07,"Abaca, manila hemp, raw",1977,1977,tonnes,10.0,E,Estimated value
2,QCL,Crops and livestock products,404,Kenya,5510,Production,01929.07,"Abaca, manila hemp, raw",1978,1978,tonnes,10.0,E,Estimated value
3,QCL,Crops and livestock products,404,Kenya,5510,Production,01929.07,"Abaca, manila hemp, raw",1979,1979,tonnes,10.0,E,Estimated value
4,QCL,Crops and livestock products,404,Kenya,5510,Production,01929.07,"Abaca, manila hemp, raw",1980,1980,tonnes,10.0,E,Estimated value

In [ ]:
df2=pd.DataFrame()    

year=[]
value=[]
count=0
for i in df['Item']:
    if i == 'Maize (corn)':
        year.append(df.iloc[count,9])
        value.append(df.iloc[count,11])

    count+=1


print(year,value)

[1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021] [750000.0, 900000.0, 1000000.0, 1050000.0, 1214000.0, 1010000.0, 1200000.0, 1380000.0, 1350000.0, 1200000.0, 1150000.0, 1300000.0, 1450000.0, 1450000.0, 1450000.0, 1590000.0, 1570000.0, 1490000.0, 1350000.0, 1350000.0, 1120000.0, 1208000.0, 1300000.0, 985000.0, 1411000.0, 1424600.0, 1406956.0, 1450939.0, 1420000.0, 1380000.0, 1310000.0, 1407000.0, 1343500.0, 1500000.0, 1438740.0, 1489000.0, 1504820.0, 1475740.0, 1567240.0, 1500000.0, 1640000.0, 1592315.0, 1670914.0, 1351327.0, 1771123.0, 1888185.0, 1615304.0, 1700000.0, 1884368.0, 2008346.0, 2131887.0, 2159322.0, 2123138.0, 2116141.0, 2098240.0, 2337586.0, 2086178.0, 2273283.0, 2296174.0, 2135741.0, 2168603.0, 12533.0, 12222.0, 12500.0, 11714.0, 10713.0, 10792.0, 12000.0, 12536.0, 12741.0, 12250.0, 12174.0, 12538.0, 12897.0, 13448.0, 14138.0, 16352.0, 16261.0, 14557.0, 13000.0, 12000.0, 15786.0, 20712.0, 17692.0, 14437.0, 17222.0, 20343.0, 17169.0, 19030.0, 18526.0, 16591.0, 18321.0, 17271.0, 15549.0, 20400.0, 18759.0, 14506.0, 14713.0, 16697.0, 14817.0, 14400.0, 17012.0, 15126.0, 16224.0, 19293.0, 16405.0, 17197.0, 18132.0, 13925.0, 12943.0, 17251.0, 15840.0, 17366.0, 16922.0, 16602.0, 18230.0, 14284.0, 15272.0, 17656.0, 15600.0, 17741.0, 15231.0, 940000.0, 1100000.0, 1250000.0, 1230000.0, 1300530.0, 1090000.0, 1440000.0, 1730000.0, 1720000.0, 1470000.0, 1400000.0, 1630000.0, 1870000.0, 1950000.0, 2050000.0, 2600000.0, 2553000.0, 2169000.0, 1755000.0, 1620000.0, 1768000.0, 2502000.0, 2300000.0, 1422000.0, 2430000.0, 2898000.0, 2415600.0, 2761200.0, 2630700.0, 2289600.0, 2400000.0, 2430000.0, 2089000.0, 3060000.0, 2698863.0, 2160000.0, 2214000.0, 2464101.0, 2322140.0, 2160000.0, 2790000.0, 2408596.0, 2710848.0, 2607139.0, 2905559.0, 3247200.0, 2928793.0, 2367237.0, 2439000.0, 3464541.0, 3376862.0, 3749880.0, 3592688.0, 3513171.0, 3825000.0, 3339000.0, 3186000.0, 4013777.44, 3582000.0, 3789000.0, 3303000.0]

In [ ]:
df2['Year']=year
df2['Produced']=value

In [ ]:
df2.head()

   Year   Produced
0  1961   750000.0
1  1962   900000.0
2  1963  1000000.0
3  1964  1050000.0
4  1965  1214000.0

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df2)

In [ ]:
future = m.make_future_dataframe(periods=100,freq='D')
forecast = m.predict(future)
forecast.head()

In [ ]:
plot1 = m.plot(forecast)